* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    position:fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: #4ad1d4;
    background: linear-gradient(0deg,rgba(74, 209, 212, 1) 0%, rgba(255, 215, 128, 1) 100%);
    z-index:-1;
}

