* {
    padding:0;
    margin:0;
    
}

.blur {
    backdrop-filter: blur(3px);
    height: 100%;
    margin: 0;
    float: top;
    size: 100%;
    padding: 50px;
}

body {
    font-family:sans-serif;
    background-color:rgb(183, 244, 177);
    text-align: center;
}

img {
    width: 20%;
    height: auto;
}

.main-content{
    width: 700px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
}

.text-editor-header {
    background-color: #ecf0f1;
    padding: 5px;
}

.text-editor-header .btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 5px;
    padding:10px;
}

.text-editor-header .btn:hover {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.16);
    margin-right: 5px;
    padding:10px;
}

.text-editor-header .save {
    border: 2px solid rgb(120, 203, 135);
    border-radius: 10px;
    background-color: rgb(158, 255, 166);
    padding: 5px;
    outline: 0px solid transparent;
    float: center;
}

.text-editor-header .save:hover {
    background-color: rgb(203, 255, 214);
}

.text-editor-header .delete {
    border: 2px solid rgb(203, 120, 120);
    border-radius: 10px;
    background-color: rgb(255, 158, 158);
    padding: 5px;
    outline: 0px solid transparent;
    float: center;
}

.text-editor-header .delete:hover {
    background-color: rgb(255, 203, 203);
}

.content {
    border-radius: 0 0 10px 10px;
    min-height: 200px;
    border-top: 0px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.15);
}

input[value="Log Out"] {

    border: 2px solid rgb(120, 203, 135);
    border-radius: 10px;
    background-color: rgb(232, 255, 234);
    padding: 10px;
    outline: 0px solid transparent;
    float: center;
}

form {
    display: inline-block;
}

/** TAB CSS **/

.tab {
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    background-color: #dddddd;
    box-shadow: inset 0 -5px 7px -6px rgb(0, 0, 0);
}

/* Style the buttons inside the tab */
.tab button {
    background-color: grey;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    box-shadow: inset 0 -5px 7px -6px black;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    box-shadow: inset 0 -5px 7px -6px #ecf0f1;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

.tab .createnote {
    background-color: rgb(0, 0, 0);
    color: rgb(47, 255, 113);
    font-weight:bolder;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab .createnote:hover {
    background-color: rgb(47, 255, 113);
    color: rgb(0, 0, 0);
    font-weight:bolder;
}

.content:focus {
  outline:none;
}